img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
  margin-bottom: 30px;
}

form {
  text-align: center;
  
}

#text-box {
  border-radius: 30px;
}

ul {
  display: flex;
  justify-content: center;
  padding-left: 80%;
}

li {
  padding: 05px;
  list-style-type: none;
  
}