/* to make the page fit*/

.fit {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* logo */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
  margin-bottom: 30px;
}

form {
  text-align: center;
  margin: auto;
}

#text-box {
  border-radius: 30px;
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  border-color: rgba(223,225,229,0);
  top: 355px;
  left: 575px;
  height: 30px;
  width: 400px;
}

.magbutton {
  width: 20px;
  height: 20px;
  display: block;
  margin: right;
  transform: translate(100%,-390%);
  border: none;
  background: transparent;
  margin-top: 12%;  
}




ul {
  display: flex;
  justify-content: center;
  padding-left: 80%;
}

li {
  padding: 05px;
  list-style-type: none;
  
}

